$window: 800px;
$white: #eee;
$primary-color: rgb(0, 109, 128);

@mixin bg-prime {
  background-color: $primary-color;
}

@mixin bg-white {
  background-color: $white;
}

@mixin bg-img($name, $size) {
  // Default configuration for background-image
  $repeat: no-repeat;
  $position: center;

  // Returned values
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
  background-image: url("../../../../public/background/" + #{$name});
}

@mixin _shadow_($alpha) {
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
}

// Global style
.footer {
  width: 100%;
  color: $white;
  @include bg-prime();
  .footer-social {
    .footer-social-head {
      font-weight: bold;
    }
    .footer-social-content {
      display: flex;
      align-items: center;
    }
  }
  .footer-supporter {
    .footer-supporter-head {
      font-weight: bold;
    }
    .footer-supporter-content {
      display: flex;
      .pendukung {
        .footer-supporter-img {
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          @include bg-prime();
          @include _shadow_(0.7);
        }
        .supporter-lks {
          background-image: url("../../../assets/img/lembaga/lembaga-kerja-sosial-brebes.png");
        }
        .supporter-upk {
          background-image: url("../../../assets/img/lembaga/logo-upk.png");
        }
      }
    }
  }
}

// PC style
@media screen and (min-width: $window) {
  .footer {
    padding: 10px;
    .footer-social {
      margin-bottom: 10px;
      .footer-social-head {
        font-size: 15px;
      }
      .footer-social-content {
        padding-top: 5px;
        padding-bottom: 10px;
      }
    }
    .footer-supporter {
      .footer-supporter-head {
        font-size: 15px;
      }
      .footer-supporter-content {
        padding-top: 5px;
        padding-bottom: 10px;
        .pendukung {
          width: 60px;
          min-width: 60px;
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
          &:not(.pendukung:nth-last-child(1)) {
            margin-right: 7px;
          }
          .footer-supporter-img {
            width: 60px;
            min-width: 60px;
            height: 60px;
            min-height: 60px;
            border-radius: 4px;
            margin-bottom: 5px;
          }
        }
      }
    }
    .footer-disclaimer {
      p {
        font-size: 12px;
      }
    }
  }
}

// Mobile style
@media screen and (max-width: $window) {
  .footer {
    padding: 10px;
    .footer-social {
      margin-bottom: 7px;
      padding-bottom: 8px;
      border-bottom: 1px solid $white;
      .footer-social-head {
        font-size: 15px;
        padding-bottom: 5px;
      }
      .footer-social-content {
        padding-top: 5px;
      }
    }
    .footer-supporter {
      .footer-supporter-head {
        font-size: 15px;
        padding-bottom: 5px;
      }
      .footer-supporter-content {
        padding: 5px 0px 10px 0px;
        margin-bottom: 5px;
        border-bottom: 1px solid $white;
        .pendukung {
          width: 50px;
          min-width: 50px;
          &:active {
            opacity: 0.9;
          }
          &:not(.pendukung:nth-last-child(1)) {
            margin-right: 7px;
          }
          .footer-supporter-img {
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
          }
        }
      }
    }
    .footer-disclaimer {
      p {
        font-size: 12px;
        padding-bottom: 2px;
        display: flex;
        align-items: center;
      }
    }
  }
}
