$window: 800px;
$white: #eee;
$beight: #e9b047;
$primary-color: #925f00;

@mixin bg-white {
  background-color: $white;
}

@mixin bg-prime {
  background-color: $primary-color;
}

@mixin bg-beight {
  background-color: $beight;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffe1aa;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9b451;
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @include bg-prime();
}

@mixin _shadow_($alpha) {
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  left: 0px;
  top: 0px;
  // background-color: rgba($color: #ffffff, $alpha: 0.5);
  background-color: $white;
  z-index: 4;
}

.page {
  width: 100%;
  background-color: #fff6e6;
  .page-header {
    width: 100%;
  }
  .page-content {
    // PC Style
    @media screen and (min-width: 800px) {
      max-width: 640px; // Berpengaruh pada sidebar
      padding: 45px 10px 10px 10px;
      @include bg-white();
    }
    // Mobile Style
    @media screen and (max-width: 800px) {
      width: 100%;
      padding: 40px 0px 10px 0px;
      // min-height: 800px;
    }
    .content {
      width: 100%;
    }
  }

  .contact-btn {
    position: fixed;
    height: 40px;
    width: 40px;
    right: 10px;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include bg-prime();
    border-radius: 50%;
    color: $white;
    border: 1px solid $white;
    @include _shadow_(0.3);
    &:active {
      @include bg-beight();
    }
  }

  .page-footer {
    width: 100%;
  }
}
