$window: 800px;
$white: #eee;
$primary-color: rgb(0, 109, 128);

@mixin bg-white() {
  background-color: $white;
}

@mixin bg-prime() {
  background-color: $primary-color;
}

@mixin bg-img($name, $size) {
  // Default configuration for background-image
  $repeat: no-repeat;
  $position: center;

  // Returned values
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
  background-image: url("../../../../public/background/" + #{$name});
}

// Global style
.sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 4;
  @include bg-white();
  .sidebar-content {
    width: 100%;
    height: 100vh;
  }
}

// PC style
@media screen and (min-width: $window) {
  .sidebar {
    display: flex;
    left: 640px;
    background-position: center;
    border-left: 1px solid $primary-color;
    @include bg-img("wp-6.jpg", "cover");
    .sidebar-content {
      padding: 40px 10px 10px 10px;
      background-color: rgba(255, 255, 255, 0.5);
      h2 {
        font-size: 17px;
        line-height: 17px;
        margin-bottom: 3px;
        &:not(h2:nth-child(1)) {
          margin-top: 20px;
        }
      }
      a {
        display: block;
        width: 100px;
        font-size: 16px;
        line-height: 18px;
        cursor: pointer;
        color: rgb(49, 49, 49);
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .iklan {
      width: 450px;
      position: fixed;
      right: 15px;
      top: 0px;
      height: calc(100vh - 65px);
      transform: translateY(50px);
      padding: 30px;
      border-top: 20px solid $primary-color;
      border-bottom: 20px solid $primary-color;
      border-left: 50px solid transparent;
      .iklan-content {
        display: block;
        width: 100%;
        height: 100%;
        padding: 20px;
        border-radius: 10px;
        border: 3px solid $primary-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 1s background-image ease;
        background-color: rgba($color: #ffffff, $alpha: 0.3);
      }
    }
  }
}

// Mobile style
@media screen and (max-width: $window) {
  .sidebar {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease;
    .sidebar-content {
      padding: 50px 10px 10px 10px;
      @include bg-prime();
      overflow-y: scroll;
      h2 {
        font-size: 17px;
        line-height: 22px;
        color: $white;
        margin-bottom: 3px;
        &:not(h2:nth-child(1)) {
          margin-top: 10px;
        }
      }
      a {
        color: cyan;
        width: 100%;
        display: block;
        font-size: 16px;
        line-height: 20px;
        &:active {
          color: yellow;
        }
      }
    }
    .iklan {
      display: none;
    }
  }
  .sidebar-active {
    visibility: visible;
    opacity: 1;
  }
}
