$window: 800px;
$white: #eee;
$primary-color: rgb(0, 109, 128);

@mixin bg-white {
  background-color: $white;
}

@mixin bg-prime {
  background-color: $primary-color;
}

@mixin _shadow_($alpha) {
  -webkit-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
  -moz-box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
  box-shadow: 0px 0px 11px -2px rgba(0, 0, 0, $alpha);
}

// Global style
.page {
  .page-content {
    .content {
      .getall-page {
        width: 100%;
        .products-banner {
          width: 100%;
          color: $white;
          @include bg-prime();

          // Sementara
          display: none;
        }
        .product-category {
          width: 100%;
          .product-category-title {
            font-weight: bold;
          }
        }
        .product-list {
          width: 100%;
          display: flex;
          overflow-x: scroll;
          .product-item {
            background-color: white;
            @include _shadow_(0.2);
            .product-photo {
              width: 100%;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              @include bg-white();
            }
            .product-name {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// PC style
@media screen and (min-width: $window) {
  .page {
    .page-content {
      .content {
        .getall-page {
          .products-banner {
            height: 270px;
            min-height: 270px;
            border-radius: 7px;
            padding: 20px;
            h1 {
              font-size: 20px;
              line-height: 20px;
              margin-bottom: 10px;
            }
            h2 {
              font-size: 17px;
              line-height: 20px;
              margin-bottom: 5px;
            }
          }
          .product-list-spacer {
            display: block;
            height: 10px;
          }
          .product-category {
            padding: 20px 10px 0px 10px;
            .product-category-title {
              font-size: 17px;
              line-height: 17px;
              padding-bottom: 10px;
            }
          }
          .product-list {
            padding-bottom: 10px;
            &::-webkit-scrollbar {
              height: 10px;
            }
            &::-webkit-scrollbar-track {
              border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-clip: padding-box;
              border: 3px solid transparent;
            }
            .product-item {
              border-radius: 10px;
              margin-right: 10px;
              width: 200px;
              min-width: 200px;
              padding: 5px;
              .product-photo {
                height: 190px;
                min-height: 190px;
              }
              .product-name {
                color: rgb(46, 46, 46);
                overflow: hidden;
                font-size: 15px;
                line-height: 18px;
                max-height: 18px;
              }
              .product-info {
                font-size: 14px;
              }
              .harga {
                font-weight: bold;
                color: rgb(18, 141, 163);
                font-size: 17px;
              }
              .kondisi {
                color: rgb(90, 90, 90);
              }
            }
          }
        }
      }
    }
  }
}

// Mobile style
@media screen and (max-width: $window) {
  .page {
    .page-content {
      .content {
        .getall-page {
          .products-banner {
            padding: 10px;
            h1 {
              font-size: 16px;
              line-height: 16px;
              margin-bottom: 10px;
            }
            h2 {
              font-size: 15px;
              line-height: 17px;
              margin-bottom: 5px;
            }
          }
          .product-list-spacer {
            display: block;
            height: 10px;
          }
          .product-category {
            padding: 10px 10px 0px 10px;
            .product-category-title {
              font-size: 16px;
              line-height: 16px;
            }
          }
          .product-list {
            padding: 5px 10px 10px 10px;
            .product-item {
              border-radius: 10px;
              margin-right: 10px;
              width: 200px;
              min-width: 200px;
              padding: 5px;
              .product-photo {
                height: 190px;
                min-height: 190px;
                border-radius: 7px;
                margin-bottom: 5px;
              }
              .product-name {
                color: rgb(46, 46, 46);
                overflow: hidden;
                font-size: 14px;
                line-height: 15px;
                max-height: 15px;
              }
              .product-info {
                font-size: 13px;
              }
              .harga {
                font-weight: bold;
                color: rgb(18, 141, 163);
                font-size: 15px;
              }
              .kondisi {
                color: rgb(90, 90, 90);
              }
            }
          }
        }
      }
    }
  }
}
